@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.entry-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meta-list li {
  margin-right: 20px; /* Add spacing between items */
}

.edit-button {
  margin-left: auto; /* This ensures the button is pushed to the right */
}

.tabs_item {
  display: none;
}

.tabs_item.active {
  display: block;
}
