@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.dark-theme.bg-dark {
  background-color: #121212 !important;
  color: white !important;
}

body.light-theme.bg-light {
  background-color: white !important;
  color: black !important;
}

.bg-dark > .input-group-text {
  background-color: #212529;
  border-color: #3b3c3e;
  color: white;
}

.bg-dark > input::placeholder {
  color: #b6bec6;
  opacity: 1; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.entry-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meta-list li {
  margin-right: 20px; /* Add spacing between items */
}

.edit-button {
  margin-left: auto; /* This ensures the button is pushed to the right */
}

.tabs_item {
  display: none;
}

.tabs_item.active {
  display: block;
}

.highlight-row {
  background-color: #4da1f1 !important;
}
